# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# MLFlow and Models
*.pkl
*.skops
*.pth

# OS
.DS_Store
Thumbs.db
final-draft-hopefully.tex
